<!DOCTYPE html>
<html lang="en">

<head>
    <title>Real Estate Management Systems</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .container {
            padding-left: 50px;
        }
        /* .bg-info{
            width:1720px;
        } */
        /* .col-md-10 offset{
            margin: 0px;
            background-color: #1ff;
            height:800px;
        } */
    </style>
</head>

<body class="over">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <div class="navbar-brand">

                    Real Estate Management Systems
                </div> -->
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="owner/home/about">About</a></li>
                    <li><a href="owner/login">Logout</a></li>
                </ul>
            </div>
            <!-- <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul> -->
            <!-- <table class="nav navbar-nav">
                <tr>
                    <td><a class="btn btn-primary" href="#">Home</a></td>
                </tr>
            </table> -->
        </div>
    </nav>
    <div class="jumbotron">
        <div class="contain text-center">
            <!-- <img src="properties.png" alt="properties" width="1440px" height="300px"> -->
            <h1>Pilla Pakodi</h1>
            <p>Some text that represents "Pakodi"...</p>
        </div>
    </div>
    <div class="container">
        <a class="btn btn-outline-primary btn-lg" href="home/customerlist">Manage Customers</a>
        <a class="btn btn-outline-primary btn-lg"href="home/propertylist">Manage Properties</a>
        <a class="btn btn-outline-primary btn-lg"href="home/registrationlist">Registrations</a>
        <a class="btn btn-outline-primary btn-lg"href="home/loanlist">Loans</a>
        <a class="btn btn-outline-primary btn-lg"href="home/testimoniallist">Testimonials</a>
        <a class="btn btn-outline-primary btn-lg"href="home/transactionlist">Transactions</a>
        <a class="btn btn-outline-primary btn-lg"href="home/cancellationlist">Cancellations</a>
    </div>
</body>

</html>
